<%- include('partials/header.ejs')%>

<section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>

    <div class="about__container container grid">
        <center>

        <div class="about__data">
            <p class="about__description">Experienced data analyst skilled in transforming data into strategic insights. Leveraging statistical analysis and visualization tools to drive informed decision-making and business growth
            </p>
       
            <div class="about__info">
                

                <div>
                    <span class="about__info-title">5+</span>
                    <span class="about__info-name">Completed <br> projects</span>
                </div>

            
            </div>
        </center>
        
            <div class="about__buttons">
                
                <a download="" href="public/Balaji-Cv.pdf" class="button button--flex">
                    Download CV <i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<div class ="skills__title">Skills</div>

<div class="skills__content skills__open">
    <div class="skills__header">
        

        <div>
            <h1 class="skills__title">Data Analysis</h1>
            <span class="skills__subtitle">Intern</span>
        </div>

       
    </div>

    <div class="skills__list grid">
        <div class="skills__data">
            <div class="skills__titles">
                <h3 class="skills__name">SQL</h3>
                <span class="skills__number">93%</span>
            </div>
            <div class="skills__bar">
                <span class="skills__percentage skills__sql"></span>
            </div>
        </div>

        <div class="skills__data">
            <div class="skills__titles">
                <h3 class="skills__name">Data visualization</h3>
                <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
                <span class="skills__percentage skills__dataviz"></span>
            </div>
        </div>

        <div class="skills__data">
            <div class="skills__titles">
                <h3 class="skills__name">Python</h3>
                <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
                <span class="skills__percentage skills__python"></span>
            </div>
        </div>

        <div class="skills__data">
            <div class="skills__titles">
                <h3 class="skills__name">Spreadsheets</h3>
                <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
                <span class="skills__percentage skills__spreadsheets"></span>
            </div>
        </div>
    </div>
</div>
<br>

<h2 class="section__title">Qualification</h2>
<span class="section__subtitle">My personal journey</span>

<div class="qualification__container container">
    <div class="qualification__tabs">
        <div class="qualification__button button--flex qualification__active" data-target="#education">
           
            Education
        </div>
        <br>

<div class="qualification__content" data-content id="work">
    <!--=============== QUALIFICATION 1 ===============-->
    <div class="qualification__data">
        <div>
            <h3 class="qualification__title">Software Engineering Technician</h3>
            <span class="qualification__subtitle">Centennial College</span>
            <div class="qualification__calendar">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAWElEQVR4nGNgGEDwH4qppY4+FngxMDA8RtL0n0QM0uuJzwJKDP8PxY+o5l1y9NPNgv8U4oG3gFzwf9QCQmA0iAiC0SCiPIhoXlx7QhVQYrgHYY+OAgYEAACYhZ+h5OHc2gAAAABJRU5ErkJggg==">
                2022-Present
            </div>
        </div>

        <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
        </div>
    </div>

    </div>

    </div><div></div>



<%- include('partials/footer.ejs')%>