<%- include('partials/header.ejs')%>



<body>
    
   
  


    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__content grid">
                    <div class="home__social">
                        <a href="https://www.linkedin.com/feed/" target="_blank" class="home__social-icon">
                            <img src="https://logowik.com/content/uploads/images/329_linkedin.jpg" alt ="Linkedin-Icon" height=100 width =50>
                        </a>

                        
                        <a href="https://github.com/BALAJINARAHARI" target="_blank" class="home__social-icon">
                            <img src ="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GithubIcon" height=50 width=50>                            
                        </a>
                    </div>

                    
                    <div class="home__data">
                        <h1 class="home__title">Hi , I'm Balaji </h1>
                        <h3 class="home__subtitle">Data Analyst-Software Developer</h3>
                        <div class="home__blob">
                        
                            <img src="https://media.licdn.com/dms/image/D5603AQG8zRGKCcyYiA/profile-displayphoto-shrink_800_800/0/1694572635334?e=1701907200&v=beta&t=---zO4OX2SwW0v00OS-JR5CLsoqW0GdHMP45hvpOm8k" >
                        
                    </div>
                        <p class="home__description">"Analyzing the world, one dataset at a time! As a data analyst, I transform raw information into actionable insights. Armed with a passion for patterns and a keen eye for details, I navigate vast data landscapes to uncover hidden trends and valuable narratives. With a curious mind and advanced statistical tools, I decode the language of numbers, providing businesses with the intelligence they need to make informed decisions. In a world driven by data, I bridge the gap between information and understanding, helping organizations thrive in the data-driven era."</p>
                        
                        <br><a href="./contactme" class="button button--flex">
                            Contact Me <img src="https://img.icons8.com/fluency/48/filled-sent.png" alt="filled-sent" height = 48 width=48>
                        </a>
                    

                    </div>
                </div>










<%- include('partials/footer.ejs')%>

